* {
    padding: 0;
    margin: 0;
}
.container {
    font-family: monospace;
    
    
}
div input {
    border: none;
}
.widthchange1 {
    width: 80px;
}
.widthchange2 {
    width: 40px;
}

.dark-grey-bg {
    background-color: lightgray;
}

div div {
    display: flex;
    flex-direction: row;
}
div div div {
    max-width: 300px;
}
.div1 .div2 .div3 .div4 .div5 .div6 .div7 .div8 {
    display: flex;
    flex-direction: row;
}